<v-card tile>
    <v-card-media :src="`https://unsplash.it/500/300?image=${Math.floor(Math.random() * 100) + 1}`" height="150px">
        <v-container fill-height fluid pa-2 class="shadow">
            <v-layout fill-height align-end justify-start>
                <v-flex>
                    <span class="caption blue-grey--text text--lighten-3" v-text="artist"></span>
                    <br/>
                    <span class="title blue-grey--text text--lighten-5" v-text="title"></span>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card-media>
    <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn icon v-if="linkYoutube" :href="linkYoutube" target="_blank">
            <v-icon medium color="red darken-2">mdi-youtube-play</v-icon>
        </v-btn>
        <v-btn icon v-if="linkSoundcloud" :href="linkSoundcloud" target="_blank">
            <v-icon medium color="orange darken-2">mdi-soundcloud</v-icon>
        </v-btn>
        <v-btn icon v-if="linkAppleMusic" :href="linkAppleMusic" target="_blank">
            <v-icon medium color="grey darken-2">mdi-apple</v-icon>
        </v-btn>
        <v-btn icon v-if="linkSpotify" :href="linkSpotify" target="_blank">
            <v-icon medium color="green darken-2">mdi-spotify</v-icon>
        </v-btn>
    </v-card-actions>
</v-card>
